<div class="container-fluid text-center header">   
   <div class="row">
      <div class="col">
        <h2><a  routerLink="">Mystore</a></h2>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <a  routerLink="/product-list">Product List</a> | <a  routerLink="/cart" class="position-relative">Cart 
            <!-- <span class="position-absolute top-0 start-100 translate-right ms-1 badge rounded-pill bg-danger">
            {{total | currency}}
            <span class="visually-hidden">Cart Price</span>
          </span> -->
        </a>
        </div>
      </div>
</div>