<div class="product-container">

 <div style="cursor: pointer;" (click)="showProduct(prod)">
  <img class="product-image" src="{{prod.url}}">
  <p>{{ prod.name }}</p>
  <p>{{ prod.price | currency }}</p>
 </div>
  <select class="select-input" name="quantity" [(ngModel)]="quantity">
    <option *ngFor="let q of quant" [ngValue]="q">{{q}}</option>
  </select>
  <!-- <input type="number" class="select-input"> -->
  <button class="btn btn-primary" (click)="addToCart(prod.id,quantity,prod.price,prod)">Add to Cart</button>
    
    <br>
  </div>
